/*html {
    /* font-size: 10px; */
/* background: url(/assets/images/sky-29.jpg) bottom center;
    background-size: 100%;
    background-size: cover; */


/* background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center; */
/* background-size: cover; */

.jumbotron {
    background-color: transparent !important;
    font-family: 'Philosopher', sans-serif;
}


body,
html {
    /* background: url(../images/sky-29.jpg) bottom center; */
    background: url(../images/blue.sky.jpg) bottom center;

    background-size: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}

.h1 {
    font-size: 5vw;
}

/* .row3,
  .row4 {
    width: 50%;
  } */

.keys {
    display: flex;
    flex: 1;
    min-height: 25vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.key:hover {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.container_button {
    display: flex;
    height: 84vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.switch {
    cursor: pointer;
    color: yellow;
}

#dataPull {
    background: yellow;
}



/* ----------------Left Card Styling---------------------- */

.cardTitleInfo {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-align: center;
    text-shadow: gray;
}

/* .card-img-overlay {
    background-color: rgba(51, 51, 51, 0.85);
    border-color: rgba(51, 51, 51, 0.85);

} */

#feels {
    text-align: right;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#feelsL {
    text-align: right;
    font-size: 1.87em;
}

.tempRight {
    text-align: right;
    font-size: 1.87em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tempLeft {
    text-align: left;
    font-size: 1.87em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.temperatureDisplay {
    font-size: 1.87em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.weatherSummaryInfo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: gray;
}


.card .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card .stats-container{
	width: 100%;
    margin-top: 50px;
}

.card .stats:first-child{
	border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
	border-left: 1px solid #EEEEEE;
}
.card .stats h4{
		font-family: 'Arima Madurai', cursive;
	font-weight: 300;
    margin-bottom: 5px;
    
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #3f6eee;
    margin: 30px 0 0;
    padding: 80px 0 0;
    text-align: center;
}

.circle {
    text-align: center;
	border: 5px solid gray;
	border-radius: 20%;
	width: 75px;
	height: 55px;
	z-index: 86;
}

#temp {
    font-size: 30px;
}

#condition {
    text-align: center;
}

/*-----------------Card Rotation---------------------------*/
.scene {
    /* width: 200px;
    height: 260px; */
    perspective: 1000px;
}

.cardR {
    /* width: 100%;
    height: 100%; */
    transition: transform .8s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.cardR.is-flipped {
    transform: rotateY(360deg);
}

.cardR__face {
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    /* line-height: 260px; */
    /* color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px; */
    /* backface-visibility: hidden;
    -webkit-backface-visibility: hidden */

}

.cardR {
    /* width: 100%;
    height: 100%; */
    transition: transform .8s ease-in-out 0s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;

    /* position: absolute; */
    /* top: 0;
    left: 0; */
}

.cardR__face--backface--front {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* line-height: 260px; */
    /* color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px; */
    /* backface-visibility: hidden;
    -webkit-backface-visibility: hidden */
}

.cardR__face--front {
    background: red;
}

.cardR__face--back {
    background: blue;
    transform: rotateY(180deg);
}